.container {
  width: 259px;

  label {
    display: block;
    color: #343a40;
    font-size: 16px;
    padding: 6px 6px 6px 0;
  }

  .select_input {
    background-color: var(--light);
    border: 1px solid #dee2e6;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 12.5px 14px;
    border-radius: 5px;
    cursor: pointer;

    span {
      font-size: 14px;
      margin-left: 6px;
      font-weight: 200;
    }

    .icon {
      font-size: 12px;
    }
  }
}
