@use "../../styles/mixins" as *;

.header {
  padding: 31px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btns {
    button {
      @include btn();
      padding: 10px 20px;
      font-size: 16px;
    }

    .create_colleague_btn {
      border: 1px solid var(--accent);
      color: var(--dark);
      border-radius: 5px;

      &:hover {
        border-color: var(--accent-hover);
      }
    }

    .create_task_btn {
      margin-left: 40px;
      background-color: var(--accent);
      border-radius: 5px;

      a {
        color: var(--light);
        text-decoration: none;
      }

      &:hover {
        background-color: var(--accent-hover);
      }
    }
  }
}
